// Basic grid
.container {
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
}

.row {
  margin: 0 -15px;
  &:after, &:before {
    content: "";
    display: table;
    clear: both;
  }
}

[class*='col'] {
  float: left;
  min-height: 1px;
  padding: 0 1%;
}

.col-1 {
  width: 8.33% - 2%;
}
.col-2 {
  width: 16.66% - 2%;
}
.col-3 {
  width: 25% - 2%;
}
.col-4 {
  width: 33.33% - 2%;
}
.col-5 {
  width: 41.66% - 2%;
}
.col-6 {
  width: 50% - 2%;
}
.col-7 {
  width: 58.33% - 2%;
}
.col-8 {
  width: 66.66% - 2%;
}
.col-9 {
  width: 75% - 2%;
}
.col-10 {
  width: 83.33% - 2%;
}
.col-11 {
  width: 91.66% - 2%;
}
.col-12 {
  width: 100% - 2%;
}

@media all and (max-width: 1000px){

  [class*='col'] {
    padding: 1%;
  }

  .row {
    margin: 0 auto;
  }

  .col-xs-12 {
    width: 98%;
  }

}





