// Basic grid
.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.row {

  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

[class^="col"] {
  float: left;
  min-height: 0.125rem;
  margin: 0 1.25% 0;
}

.col-3 {
  width: 25%;
}

.col-9 {
  width: 70%;
}

.col-10 {
  width: 83.333%
}

@media (max-width: 900px) {
  .row {
    margin: 0 2.5% 0 0;
  }
  [class^="col"] {
    float: none;
    width: 100%;
  }
}


