@font-face {
  font-family: 'Bungee';
  src: local('Bungee'),
  url('../assets/fonts/Bungee/Bungee-Regular.ttf') format('ttf'),
  url('../assets/fonts/Bungee/bungee-regular.woff') format('woff'),
  url('../assets/fonts/Bungee/bungee-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Cabin';
  src: local('Cabin'),
  url('../assets/fonts/Cabin/Cabin-Regular.ttf') format('ttf'),
  url('../assets/fonts/Cabin/Cabin-Bold.ttf') format('ttf'),
  url('../assets/fonts/Cabin/Cabin-Italic.ttf') format('ttf'),
  url('../assets/fonts/Cabin/cabin-regular.woff') format('woff'),
  url('../assets/fonts/Cabin/cabin-bold.woff') format('woff'),
  url('../assets/fonts/Cabin/cabin-italic.woff') format('woff'),
  url('../assets/fonts/Cabin/cabin-regular.woff2') format('woff2'),
  url('../assets/fonts/Cabin/cabin-bold.woff2') format('woff2'),
  url('../assets/fonts/Cabin/cabin-italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Lobster';
  src: local('Lobster'),
  url('../assets/fonts/Lobster/Lobster-Regular.ttf') format('ttf'),
  url('../assets/fonts/Lobster/lobster-regular.woff') format('woff'),
  url('../assets/fonts/Lobster/lobster-regular.woff2') format('woff2');
}


