// colors
$grey: #333333;
$red: #af2f26;
$cream: #f2b378;
$green: #19616b;
$white: #ffffff;

// fonts
$main-font: 'Bungee', Open Sans, serif;
$second-font: 'Cabin', Open Sans, serif;
$third-font: 'Lobster', Open Sans, serif;